<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.celiaKey.orders.mvc.dao.BannerDao">
    <resultMap id="bannerDetail" type="com.celiaKey.orders.mvc.entity.Banner">
        <id column="id" property="id" />
        <result column="author_id" property="authorId" />
        <result column="title" property="title" />
        <result column="content" property="content" />
        <result column="path" property="path" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <insert id="addBanner" parameterType="com.celiaKey.orders.mvc.entity.Banner"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO t_banner (author_id, title, content, path, create_time, update_time)
        VALUES (#{authorId}, #{title}, #{content}, #{path}, now(), now())
    </insert>

    <delete id="delBanner">
        DELETE FROM t_banner WHERE id = #{dataId}
    </delete>

    <update id="updateBanner">
        UPDATE t_banner
        SET author_id = #{authorId},
            title = #{title},
            content = #{content},
            path = #{path},
            update_time = now()
        WHERE id = #{id}
    </update>

    <select id="getBannerById" resultMap="bannerDetail">
        SELECT * FROM t_banner where id = #{id};
    </select>

    <select id="queryList" resultType="com.celiaKey.orders.mvc.entity.Banner">
        select * from t_banner limit #{start}, #{page}
    </select>

    <insert id="addBannerById">
        INSERT INTO t_banner (id, author_id, title, content, path, start_time)
        VALUES (#{id}, #{authorId}, #{title}, #{content}, #{path}, now())
    </insert>

    <select id="queryAllBanner" resultType="com.celiaKey.orders.mvc.entity.Banner">
        SELECT * FROM t_banner
    </select>
</mapper>